extends ../layout/auth-layout.pug


block content
    
    form.form-signin(action="/signup" method="POST")
        if errorMsg 
            .alert.alert-danger #{errorMsg}
        img.mb-4(src="http://chor.kalvarienbergkirche.at/img/logo_menu.png", alt="Chor der Kalvarienbergkirche", height="100px")
        h1.h3.mb-3.font-weight-normal Bitte registriere dich.
        //- label.sr-only(for="inputEmail") Email-Adresse
        input.form-control#inputEmail(type="email" name="email" placeholder="Email-Adresse" required autofocus)
        //- label.sr-only(for="inputPassword") Passwort
        input.form-control#inputPassword(type="password" name="password" placeholder="Passwort" required)
        //- label.sr-only(for="inputPassword") Passwort
        input.form-control#inputPasswordConfirm(type="password" name="passwordconfirm" placeholder="Passwort bestätigen" required)
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Registrieren
        p.mt-5.mb-1.text-muted
            a(href='/signin') Schon registriert registriert?
        input(type="hidden" value=csrfToken name="_csrf")
