
extends ../layout/main-layout.pug

block content
    main.p-3
        .d-flex.flex-wrap
            .card.flex-fill.m-2.shadow(style="width: 25rem; max-width: 50rem")
                .card-body
                    .form
                        h5.card-title.mt-1.d-inline-block E-Mail versenden
                        .d-inline-block.float-right.mt-0
                            p.d-inline-block.mr-2 An:
                            .d-inline-block.form-group
                                select.form-control(name="toSelect")
                                    option(value="1") Chorliste
                        hr.mt-1
                        .contentfields
                            .input-group.mb-3
                                .input-group-pretend.mr-2
                                    span.lh-1.h6.text-muted Betreff:
                                input.form-control.mw-50(type="text")
                            textarea(name="content").textarea.mb-3
                        button.btn.btn-primary.btn-sm.px-4(type="submit") Senden
            .card.flex-fill.m-2.shadow(style="width: 18rem;")
                .card-body
                    h5.card-title Aktuelle Konzerte
                    each concert in concerts
                        hr
                        h5.card-title #{concert.name}
                            h6.card-subtitle.mb-3.text-muted(style="font-size: 14px;") #{moment(concert.date).format('DD.MM.YYYY')}
                            p.card-text Verkaufte Karten online: 
                                span.badge.badge-primary.ml-2.p-2 #{concert.sold}
                            a.btn.btn-primary.btn-sm.px-4(href=("/manage/concert/" + concert.id)) Ansehen...