extends ../layout/main-layout.pug

block content
    main.text-center
        div.align-middle.msg
            h1.cover-heading Keine Genehmigung
            p.lead Du hast nicht die benötigte Genehmigung erhalten, um diesen Inhalt zusehen. Genehmigungen werden vom System Administrator vergeben.
            p Falls du bereits die Berechtigung für diesen Inhalt erhalten hast und ihn dennoch nicht siehst, logge dich aus und erneut wieder ein!