#map {
  /* width: calc((100vh - 56px) * 0.88); */
  min-width: calc((100vh - 56px) * 0.88);
  /* padding: 2rem 2rem 2rem 2rem; */
}

.selected {
  fill: red !important;
}

.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: 0;
  opacity: 0;
  width: 10px;
  height: 10px;
  background-color: red;
}

.active {
  opacity: 1;
}

.deactivated {
  fill: gray !important;
}

#seatPopover {
  position: absolute;
  opacity: 0;
  z-index: -20;
  background-color: white;
}

.hoverActive {
  opacity: 1 !important;
  z-index: 30 !important;
}

rect,
path {
  cursor: pointer;
}

/* Kartenbestellungs formular */
.deleteBtn {
  cursor: pointer;
}

.orderControl {
  margin-top: 7em;
  margin-left: 2em;
  min-width: 610px;
  background-color: white;
}

#scrollHint {
  z-index: -5;
  position: absolute;
  top: 50vh;
  left: calc(100vh * 0.88 - 56px + 2rem);
  height: 50px;
}
