#map {
  /* width: calc((100vh - 56px) * 0.88); */
  min-width: calc((100vh - 56px) * 0.88);
  /* padding: 2rem 2rem 2rem 2rem; */
}
.centeredLoadingIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  stroke-width: 1.5 !important;
}

.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: 0;
  opacity: 0;
  width: 10px;
  height: 10px;
  background-color: red;
}

.active {
  opacity: 1;
}

.deactivated {
  fill: gray !important;
}

#seatPopover {
  position: absolute;
  opacity: 0;
  z-index: -20;
  background-color: white;
}

.hoverActive {
  opacity: 1 !important;
  z-index: 30 !important;
}

rect,
path {
  cursor: pointer;
}

select {
  padding-right: 0 !important;
  padding-left: 10px !important;
}

/* Kartenbestellungs formular */
.deleteBtn {
  cursor: pointer;
}

.orderControl {
  margin-top: 7em;
  margin-left: 2em;
  min-width: 610px;
  background-color: white;
}

#scrollHint {
  z-index: -5;
  position: absolute;
  top: 50vh;
  left: calc(100vh * 0.88 - 56px + 2rem);
  height: 50px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  /* margin: 50%; */
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #007aff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
